.table_head {
  width: 681px;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: rgb(159, 114, 114);
  align-items: center;
}

table {
  /* border: 2px solid green; */
  width: 100%;
  height: 100px;
}

th {
  border-bottom: 1px solid black;
  color: white;
}

td {
  text-align: center;
}

tbody {
  background-color: #4f4f4f;
}
